{% extends 'website/base.html' %}

{% block content %}
  <h1>Why Coral Reefs are important?</h1>

  <p>Coral reefs may make up only 0.01% of the ocean but also have 25% of all
    marine life in the ocean! This means if coral reefs are destroyed a lot of
    marine life will also perish!</p>

  <h3>Why is this happening?</h3>

  <p>Well, coral reefs mainly die from something called Coral Bleaching. This is
    when the coral are exposed to hot temperatures or in hot waters, causing
    the coral to become a white coral (Coral Bleaching)
  </p>
  <hr/>
{% endblock content %}
