{% extends 'website/base.html' %}
{% block page_header %}
  <h1>Why Coral Reefs are important?</h1>
{% endblock page_header %}
{% block content %}
  <div class="p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-4">
       <p class="lead">Coral reefs may make up only 0.01% of the ocean but also have 25% of all
        marine life in the ocean! This means if coral reefs are destroyed a lot of
        marine life will also perish!
       </p>
       <p class="lead">Well, why is this happening?</p>

       <p class="lead">Well, coral reefs mainly die from something called Coral Bleaching. This is
        when the coral are exposed to hot temperatures or in hot waters, causing
        the coral to become a white coral (Coral Bleaching)
      </p>

      <p class="lead">It's not just coral reef's that are affected by this, it's the whole
        ocean! humans have been throwing out a lot of trash. Humans aren't trying
        to throw trash in the ocean but some cargo ships and trash cans can leak
        plastic, trash, and other waste into the ocean causeing tons of trash
        to gather up along in swirling areas. The Trash in the ocean is getting
        worse as the human population increases and the lack of people who are
        not doing anything. Almost 8,000,000 tons of plastic are leaked from
        trash cans into the ocean every year, that's a lot.
      </p>

      <p class="lead">Animals are also affected by this too. Lots of plastic
        or trash can get stuck around a sea animals neck
      </p>
   </div>
</div>
  <hr/>
{% endblock content %}
